.fileUpLoad {
  display: inline-block;
  cursor: pointer;
  /* カーソルを指に */
  margin: 0.5em 0;
  /* まわりの余白 */
  padding: .7em 1em;
  /* 文字まわりの余白 */
  line-height: 1.4;
  /* 行間 */
  background: #ebe9e9;
  ;
  /* 背景色 */
  color: #736d6d;
  /* 文字色 */
  font-size: 5.0em;
  /* フォントサイズ */
  /*border-radius: 2.5em;  角の丸み */
  /*transition: 0.2s; ホバーをなめらかに */
  width: 320px;
  /*height: 320px;*/
  text-align: center;
  opacity: 5;

}



.fileUpLoad-input {
  display: none;
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  width: 100px;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  /*影を小さく*/
  border-bottom: none;
}