.title {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman';
}

.Icon {
    display: flex;
    justify-content: center;
}

.Name {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman';
    line-height: 60px;
    text-align: center;
}

.Username {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman';
    line-height: 50px;
}

.Profile {
    text-align: center;
    line-height: 50px;
    font-family: 'Times New Roman';
    font-size: 40px;
}

.text-center {
    font-family: 'Times New Roman';
    font-size: 40px;

}

.input {
    border: 2px solid #ddd;
    border-radius: 2px;
}
.inputinput{
    border: 2px solid #ddd;
    border-radius: 2px;

}
.inputinputinput{
    border: 2px solid #ddd;

}