.signup_title {
    color: black;
    border-bottom: solid 3px rgb(55, 55, 61);
    text-align: center;
    font-size: 200%;
    margin-bottom: 64px;
    width: 50%;
    font-family: Impact;
}

.small_title {
    font-size: 150%;
    text-align: left;
}

.button {
    background-color: #4299e1;
    border-radius: 1rem;
    color: #ffffff;
    height: 2.5rem;
    font-weight: bold;
    font-size: 20px;
}

.Relogin {
    color: blue;
    border-bottom: solid 1px blue;

}